table{
    border-spacing: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
th{
    background-color: lightblue;
}
tr:nth-child(even) {
    background-color: whitesmoke;
}
tr:nth-child(odd) {
    background-color: lightsteelblue;
}